* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  }
  li,a{
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      color: #edf0f1;
      text-decoration: none;
  }
  
  header{
      display: flex;
     /* justify-content:space-between;*/
      align-items: center;
      padding: 30px 10%;
  }
  .logo{
      cursor: pointer;
      margin-left: 0;
      float:left;
      margin-right: 2.5rem;
  }
  .top{
      list-style: none;
  }
  .top li{
      display: inline-block;
      padding: 0 20px;
      justify-content: space-between;
  }
  .top li a{
      transition: all 0.3s ease 0s;
  } 
  .top li a:hover{
      color: #0088a9;
  
  } 
  .top-btn1{
      margin-left: 20rem;
      color: seashell;
      background-color: #24252a;
      margin-right: 1rem ;
  }
  .top-btn1:hover{
  
      color: #0088a9;
  }
  .top-btn3{
      color: seashell;
      background-color: #24252a;
      font-size: 1.8rem;
      margin-right: 1rem ;
      margin-left: 0rem;
  }
  
  .top-btn3:hover{
  
      color: #0088a9;
  }
  .top-btn4{
      padding: 20px 45px;
      font-size: 1.8rem;
      background-color: rgba(0, 136, 169, 1);
      border: none;
      border-radius: 50px;
      transition: all 0.3s ease 0s;
      margin-left: 0rem;
  }
  .top-btn4:hover{
  
      background-color: rgba(0, 136, 169,0.8);
  }
  .bttn{
      margin-left: 175px;
      margin-top: 80px;
  }
  h1{
    text-align: left;
    color:aliceblue;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    margin-left: 165px;
    margin-top: 30px;
  }
  .top-btn2{
      padding: 9px 25px;
      background-color: rgba(0, 136, 169, 1);
      border: none;
      border-radius: 50px;
      transition: all 0.3s ease 0s;
      margin-left: 0rem;
      margin-right: 0;
      
  }
  .top-btn2:hover{
  
      background-color: rgba(0, 136, 169,0.8);
  }
  .front{
      margin-right: 4rem;
      float:right;
  
  }
  .wrapper{
      margin-left: 150px;
      font-family: 'Montserrat Alternates', sans-serif;
  }
  .wrapper .static-txt {
      color: #fff;
      font-size: 60px;
      font-weight: 400;
    }
    .wrapper .dynamic-txts {
      margin-left: 15px;
      height: 90px;
      line-height: 90px;
      overflow: hidden;
    }
    .dynamic-txts li {
      list-style: none;
      color: rgba(0, 136, 169,0.8);
      font-size: 60px;
      font-weight: 500;
      position: relative;
      top: 0;
      animation: slide 12s steps(4) infinite;
    }
    @keyframes slide {
      100% {
        top: -360px;
      }
    }
    .dynamic-txts li span {
      position: relative;
      top: 10px;
      margin: 5px 0;
      line-height: 90px;
    }
    .dynamic-txts li span::after {
      content: "";
      position: absolute;
      left: 0;
      height: 120%;
      width: 100%;
      background: #24252a;
      border-left: 2px solid #fff7f7;
      animation: typing 3s steps(10) infinite;
    }
    @keyframes typing {
      40%,
      60% {
        left: calc(100% + 30px);
      }
      100% {
        left: 0;
      }
    }
    /* .pic{
      width: 90%;
    }
  
    .mid-img{
      display:inline-block;
     width:50%;
     float: left;
    }
    .content{
      display:inline-block;
     width:50%;
     text-align: left;
    vertical-align: middle;
    line-height: 1.5;
    }
  .left{
    float: left;
    margin-right: 10px;
  }
    ol {
      list-style-type: none;
  } */
  
  .heading{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
  .container {
    top: 80px;
    position: relative;
    
    z-index: 1;
    width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .section-title {
    margin-bottom: 2.5rem;
  }
  .row {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
  }
  .l-flex .r-flex{
    flex:50%;
  }
  .align-items-center {
    align-items: center!important;
  }
  /* .justify-content-around {
    justify-content: space-around!important;
  } */
  @media (min-width: 992px){
  .col-lg-5 {
      -webkit-box-flex: 0;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
  }}
  /* @media (min-width: 768px){
  .col-md-9 {
      -webkit-box-flex: 0;
      flex: 0 0 75%;
      max-width: 75%;
  }} */
  .col-lg-5 .col-md-9 .col-xl-5{
    position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
  }
  .ml-auto{
    margin-left: auto;
  }
  @media (min-width: 992px){
  .mt-lg-0, .my-lg-0 {
      margin-top: 0 !important;
  }}
  @media (min-width: 768px){
  .mt-md-5, .my-md-5 {
      margin-top: 3rem !important;
  }}
  .mt-4, .my-4 {
      margin-top: 1.5rem !important;
  }
  
  .rounded-circle {
    border-radius: 100%!important;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .p-0 {
    padding: 0!important;
  }
  .list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  .align-items-start {
    -webkit-box-align: start!important;
    align-items: flex-start!important;
  }
  .d-flex {
    display: -webkit-box!important;
    display: flex!important;
    margin-bottom: 3rem;
  }
  .p-sm-4  {
    padding: 1.5rem!important;
  }
  .bg-success  {
    background-color: #00d865!important;
  }
  @media (min-width: 576px){
  .p-sm-4 {
    padding: 1.5rem!important;
  }}
  .p-3 {
    padding: 1rem!important;
  }
  .d-flex {
    display: -webkit-box!important;
    display: flex!important;
  }
  .text-white {
    color: #fff!important;
    background-color: inherit;
  }
  .text-center{
    text-align: center;
  }
  .mb-0, .my-0 {
    margin-bottom: 0!important;
  }
  .position-absolute {
    position: absolute!important;
  }
  @media (min-width: 768px){
  .ml-md-4, .mx-md-4 {
      margin-left: 1.5rem!important;
  }}
  .ml-3, .mx-3 {
      margin-left: 1rem!important;
  }
  @media (min-width: 768px){
  .ml-md-4, .mx-md-4 {
      margin-left: 1.5rem !important;
  }}
  .ml-3, .mx-3 {
      margin-left: 1rem !important;
  }
  
  /*-----------------------------------------*/
  h3{
    color: white;
  }
    h6{
      color: white;
    }
    h2{
      right:50rem;
      margin-left: 0rem;
      margin-top: 15rem;
      color: white;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 2rem;
    }
    .adj{
      position: relative;
      right: 25rem;
      color:white;
      line-height: 2;

    }
    .lead
    {
      font-size: 1.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .ml-3 {
      line-height: 2;
    }
     